.vscode
temp.txt
# holds temporary notes for me
.DS_Store

# frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/package-lock.json
frontend/.eslintcache
frontend/src/EmailJS_Keys.ts

# production
frontend/build/*

# for Adam
deploy_directions.md.env
