/* Entire App */
html {
  background-image: linear-gradient(#09c6f9, #045de9);
  /* background-image: linear-gradient(#5f72be, #9921e8); */
  height: 100%;
  font-family: monospace;
  /* color: rgba(0, 136, 255, 0.879); */
  color: rgba(255, 245, 245, 0.927);
}

/* Blurb */
.blurb {
  text-align: center;
}

/* Footer */
.gitHub-link {
  text-align: center;
  bottom: 5%;
  color: gold;
  font: x-small;
  font-family: monospace;
}
