/* Entire App */
html {
  /* background-image: linear-gradient(#09c6f9, #045de9); */
  background-image: linear-gradient(#6e17cb, #391fe4);
  height: 100%;
  font-family: monospace;
  color: rgba(255, 245, 245, 0.927);
}
strong {
  color: gold;
}

/* Blurb */
.blurb {
  text-align: center;
  font-size: 16;
}
.paragraph-container {
  background-color: #172a45;
  text-align: left;
  width: 50%;
  border-radius: "10px";
}
@media only screen and (max-width: 425px) {
  .paragraph-container {
    background-color: #172a45;
    text-align: left;
    width: 100%;
    border-radius: "10px";
  }
}

/* Buttons */
.normal-button {
  background-color: gold;
  color: black;
  border: none;
  font-size: 16px;
  font-family: monospace;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex: 1;
}
.hovered-button {
  background-color: black;
  color: gold;
  border: none;
  font-size: 16px;
  font-family: monospace;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex: 1;
}
.home-button {
  cursor: pointer;
  border: none;
  width: 90px;
  height: 95px;
  background: url(./images/adam_hobbes.png) no-repeat;
  margin: 1%;
}
.hamburger-button {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.605);
  width: 10%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.hamburger-button-hover {
  background-color: transparent;
  border-color: gold;
  width: 10%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

/* Footer */
.gitHub-link {
  text-align: center;
  bottom: 5%;
  color: gold;
  font: x-small;
  font-family: monospace;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 425px) {
  .header {
    flex-direction: column;
  }
}
