/*
Modified color scheme from Canva.com; original is below.
  #021C1E blue black
  #004445 cadet blue
  #2C7873 rain
  #6FB98F greenery
*/

/* Entire App */
html {
  /* background-color: #918076; */
  background-color: #81a19f;
  height: 100%;
  font-family: monospace;
  color: rgba(255, 245, 245, 0.927);
}
strong {
  color: #004445;
}
a {
  color: #004445;
}

/* Blurb */
.blurb {
  text-align: center;
  font-size: 16;
}

/* Buttons */
.normal-button {
  background-color: #004445;
  color: #6fb98f;
  font-style: oblique;
  border: none;
  font-size: 16px;
  font-family: monospace;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex: 1;
}
.hovered-button {
  background-color: #669693;
  color: #004445;
  font-style: oblique;
  border: none;
  font-size: 16px;
  font-family: monospace;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex: 1;
}
.home-button {
  cursor: pointer;
  border: none;
  width: 90px;
  height: 95px;
  background: url(./images/adam_hobbes.png) no-repeat;
  margin: 1%;
}
.hamburger-button {
  background-color: rgba(255, 255, 255, 0.605);
  border-color: #004445;
  width: 10%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.hamburger-button-open {
  background-color: transparent;
  border-color: #004445;
  width: 10%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

/* Contact Me */
.contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}
.contact-input {
  background-color: rgba(255, 245, 245, 0.927);
  border-radius: 5px;
  color: #004445;
  font-family: monospace;
  height: 20px;
  font-size: large;
  margin: 1%;
  width: 40%;
}
@media only screen and (max-width: 425px) {
  .contact-input {
    width: 90%;
  }
}
.contact-submit {
  font-size: medium;
  font-family: monospace;
  color: rgba(255, 245, 245, 0.927);
  background-color: #004445;
  margin-top: 1%;
  border-radius: 5px;
  height: 25px;
  width: fit-content;
  border-color: black;
}

/* Footer */
.footer-link {
  text-align: center;
  bottom: 5%;
  color: #172a45;
  font: x-small;
  font-family: monospace;
  margin: 1%;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 425px) {
  .header {
    flex-direction: column;
  }
}

/* LinkBox */
.link-box {
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 0.605);
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  width: 33px;
  height: 33px;
}
.link-box-container {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  justify-content: center;
}
.link-box-image {
  width: 27px;
  height: 27px;
  margin-top: 9%;
  margin-left: 12%;
}

/* News */
.article-text-color {
  color: rgba(255, 245, 245, 0.927);
}
.news-container {
  background-color: #172a45;
  text-align: left;
  width: 50%;
  border-radius: 10px;
  margin: 0.5%;
}
.hovered-news-container {
  background-color: #669693;
  text-align: left;
  width: 50%;
  border-radius: 10px;
  margin: 0.5%;
}

/* Paragraphs */
.paragraph {
  margin: 5%;
  font-size: 120%;
}

/* Terminal Text Box */
.paragraph-container {
  background-color: #172a45;
  text-align: left;
  width: 50%;
  border-radius: 10px;
  margin: 0.5%;
}
@media only screen and (max-width: 425px) {
  .paragraph-container {
    background-color: #172a45;
    text-align: left;
    width: 100%;
    border-radius: 10px;
  }
}
